<h2><%= link_to h(item.title), item.url %></h2>
<p class="tags"><%= item.tags %></p>

<% if item.image_id != 0 && item.image %>
	<% path = find_image_path(item.image) %>
	<% unless path.blank? %>
		<div><a href="<%= item.url %>" title="<%=h item.title %>"><img src="<%= path %>" alt="<%=h item.title %>" /></a></div>
	<% end %>
<% end %>