<div class="main">
	<h2><%= item.title %> by <%= item.description %></h2>
	<p><%= item.published_at %> - <%= item.published_at.strftime("%A %d %B, %I:%M%p") %></p>
	<p><%= item.created_at %> - <%= item.created_at.strftime("%A %d %B, %I:%M%p") %></p>
</div>