<h2>Feeds</h2>

<%= show_flash %>

<p><strong><%= link_to 'Add a New Feed', new_admin_feed_path %></strong></p>

<% unless @feeds.empty? %>

	<table>
		
		<thead>
			<tr>
				<th>Name</th>
				<th>URL</th>
				<th>Items</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		
		<tbody>
			
			<% for feed in @feeds %>
			
				<tr>
					<td><strong><%= link_to feed.name, edit_admin_feed_path(feed) %></strong></td>
					<td><%= link_to h(feed.url), h(feed.url) %></td>
					<td><%= feed.items.count %> <%= link_to 'View', admin_feed_items_path(feed) %></td>
					<td><%= feed.active == true ? 'Active' : 'Deactivated' %></td>
					<td><%= feed.visible == true ? 'Visible' : 'Hidden' %></td>
					<td><%= link_to 'Edit', edit_admin_feed_path(feed) %></td>
					<td><%= link_to 'Destroy', admin_feed_path(feed), :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
			
			<% end %>
			
		</tbody>
		
	</table>

<% end %>

<ul>
	<li><strong><%= link_to "Cache Feeds", cache_admin_feeds_path %></strong></li>
	<li><%= link_to "Preview Site", admin_preview_path %></li>
</ul>