<%

	classes = [item.feed.permalink, 'clearfix']
	classes << 'js_hide' if index && index >= 20
	
	id = (item == @items.last) ? ' id="item-'+(offset-1).to_s+'"' : '';
	item_unique_id = (item_unique_id - item.grouped_items.length).to_s + '&ndash;' + item_unique_id.to_s unless item.grouped_items.empty?
	
%>
<li<%= id %> class="<%= classes.join ' ' %>">
	<div class="content">
		<%= render :partial => "partials/#{item.feed.permalink}", :locals => { :item => item, :compact => false } %>
		<% unless item.grouped_items.empty? %>
			<div class="compact"><ol>
				<% for grouped_item in item.grouped_items -%>
					<li class="clearfix"><%= render :partial => "partials/#{item.feed.permalink}", :locals => { :item => grouped_item, :compact => true } %></li>
				<% end -%>
			</ol></div>
		<% end %>
	</div>
	<div class="header">
		<h4><strong><%= item.feed.name %></strong> #<%= item_unique_id %></h4>
	</div>
</li>