<%

	classes = [item.feed.permalink, 'clearfix']
	classes << 'js_hide' if offset > 20
	
	
	# 
	#   if item.feed.permalink == 'lastfm'
	# classes << 'first' if @compact_lastfm == false
	#     classes << 'compact' if @compact_lastfm == true
	#     @compact_lastfm = true
	#   else
	# @compact_lastfm = false
	#   end
	
%>
<li id="item-<%= offset %>" class="<%= classes.join ' ' %>">
	<div class="content">
		<%= render :partial => "partials/#{item.feed.permalink}", :locals => { :item => item } %>
	</div>
	<div class="header">
		<h4><strong><%= item.feed.name %></strong> #<%= item_unique_id %></h4>
	</div>
</li>