<li id="item-<%= offset %>" class="<%= item.feed.permalink %> clearfix<%= ' js_hide' if offset > 20 %>">
	<div class="content">
		<%= render :partial => "partials/#{item.feed.permalink}", :locals => { :item => item } %>
	</div>
	<div class="header">
		<h4><strong><%= item.feed.name %></strong> #<%= item_unique_id %></h4>
	</div>
</li>