<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Andy Pearson is a web designer and developer from the UK</title>
		<meta name="Description" content="Andy Pearson is a web designer and developer from the UK. This is his Life Stream." />
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<%= stylesheet_path 'reset' %>" />
		<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<%= stylesheet_path 'screen' %>" />
		<%= javascript_include_tag 'jquery-1-2-6' %>
		<%= javascript_include_tag 'stream' %>
	</head>
	
	<!-- <body id="www-andy-pearson-com" class="<%= current_colour_scheme.downcase %>"> -->
	<body id="www-andy-pearson-com">
		
		<div id="container" class="clearfix">
			
			<div id="header">
				
				<%= render :partial => "partials/style_switcher" %>
				
				<h1><a href="#container" title="Back to the top">Andy Pearson</a></h1>
				<p>
					<span>A <%= current_age %> year old web designer and</span>
					<span>developer from the UK.</span>
				</p>
				<p>
					<span>He spends his time online</span>
					<span><a href="http://twitter.com/andypearson/" title="Andy Pearson on Twitter">tweeting</a>, <a href="http://blog.criticalwebdesign.co.uk/" title="blog.critical">blogging</a>, <a href="http://delicious.com/pizzaguy234/" title="Andy Pearson on Delicious">finding cool</a></span>
					<span><a href="http://delicious.com/pizzaguy234/" title="Andy Pearson on Delicious">links</a>, <a href="http://www.flickr.com/photos/andypearson" title="Andy Pearson on Flickr">posting photos</a>, <a href="http://www.last.fm/user/pizzaguy234" title="Andy Pearson on Last.fm">rocking out</a>,</span>
					<span><a href="http://steamcommunity.com/id/pizzaguy234" title="Andy Pearson on Steam Community">playing computer games</a> and</span>
					<span><a href="http://www.criticalwebdesign.co.uk/" title="Critical Web Design">making awesome websites</a>.</span>
				</p>
			</div>
			<hr />
			
			<div id="content">
				
				<%= yield %>
				
			</div>
			
		</div>
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-3440740-3");
			pageTracker._trackPageview();
		</script>
		
	</body>
	
</html>